@model Stationary.Models.tbl_product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.p_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_des)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_des)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.p_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
