@model Stationary.Models.question_answers

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>question_answers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.messages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.messages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.froms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.froms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dates)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
