@model IEnumerable<Stationary.Models.tbl_stock>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Not AvailableItem</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.s_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s_qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s_des)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s_status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.s_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_des)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_status)
        </td>
        
    </tr>
}

</table>
